<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322673876171-njdl36v08mrknsc1ocm5e1pqt2id1jni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322673876171-njdl36v08mrknsc1ocm5e1pqt2id1jni</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>322673876171-hp6ualeock4c4cdgu53mrcd91o4g7qlf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCr-ufg7JhuIpll8qtHSwrS4POhJU-Cm8A</string>
	<key>GCM_SENDER_ID</key>
	<string>322673876171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myshopp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-95160</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-95160.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322673876171:ios:94e95188b6fbf641a44f4e</string>
</dict>
</plist>